@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


/* styles.css */
@font-face {
  font-family: 'Mono Sans';
  src: url('../src/fonts/Mona-Sans.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide {
  margin: 0 10px; /* Adjust the gap as needed */
}

.slick-list {
  margin: 0 -10px; /* Compensate for the slide margins */
}
